#carousel {
	margin: 0 auto;
	width: 320px;
	height: 200px;
	border: 2px solid black;
	overflow: hidden;
}

#carousel ul {
	width: 1600px;
	padding: 0;
	margin: 0;
	
}

#carousel li {
	display: block;
	list-style-type: none;
	float: left;
	text-align: center;
}